<div class="row">
  <div class="col-sm-12">
    <div class="main-heading clearfix">
      <h3 class="page-heading">Manage Chart of Accounts</h3>
    </div>
  </div>
  <div class="col-sm-12">

    <!--  Chart of Accounts Filters -->
    <dx-tree-list
    id="employees"
    [dataSource]="mainLevelAccount"
    keyExpr="ID"
    parentIdExpr="ParentID"
    [showRowLines]="true"
    [columnAutoWidth]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"                    
    [columnAutoWidth]="true"
    [expandedRowKeys]="[1]">
    <dxo-editing
        mode="popup"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true">
    </dxo-editing>
    <dxo-selection                            
        mode="multiple">
    </dxo-selection>
    <!-- <dxo-column-chooser [enabled]="true" ></dxo-column-chooser> -->
    <dxo-filter-row 
         [visible]="showFilterRow">
     </dxo-filter-row>
    <dxo-header-filter 
    [visible]="true"></dxo-header-filter> 
    <dxo-filter-row [visible]="true">
      </dxo-filter-row>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>   
    <!-- <dxi-column dataField="ID" caption="ID"></dxi-column>   -->
    <dxi-column dataField="AccountName">

    </dxi-column>
    <dxi-column dataField="AccountCode"></dxi-column>
    <dxi-column dataField="AccountType"></dxi-column>
    </dx-tree-list>
  </div>
</div>
