<div class="row">
    <div class="col-sm-12">
        <div class="main-heading clearfix">
            <h3 class="page-heading">Ledger Statement</h3>
        </div>
    </div>
    <div class="col-sm-12">
        <!-- Ledger Filters -->
        <dx-data-grid id="gridContainer" [dataSource]="dataSource" [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="AccountCode">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxi-column dataField="AccountCode" [width]="70" caption="Title"></dxi-column>
            <dxi-column dataField="ChartAccountName"></dxi-column>
            <dxi-column dataField="CurrencyName"></dxi-column>

            <div *dxTemplate="let ledger of 'detail'">
                <div class="master-detail-caption">{{ledger.data.AccountName}}</div>
                <dx-data-grid [dataSource]="ledger.data.Transactionlist" [showBorders]="true" [columnAutoWidth]="true">
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel> -->
                    <dxi-column dataField="TransactionNo"></dxi-column>
                    <dxi-column dataField="AccountName"></dxi-column>
                    <dxi-column dataField="TransactionDate" dataType="date"></dxi-column>
                    <dxi-column dataField="DebitAmount"></dxi-column>
                    <dxi-column dataField="CreditAmount"></dxi-column>
                    <dxi-column dataField="VoucherNo"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <!-- <dxi-column  dataType="boolean" caption="Completed" [calculateCellValue]="completedValue"></dxi-column> -->
                </dx-data-grid>
            </div>
        </dx-data-grid>
    </div>
</div>