<div class="row">
    <div class="col-sm-12">
        <div class="main-heading clearfix">
            <h3 class="page-heading">Ledger Statement</h3>
        </div>
    </div>
    <div class="col-sm-12">



        <div class="options">
                <dx-select-box style="max-width: 20rem;" id="select-all-mode" [dataSource]="['All', 'Afg','USD']" [(value)]="allMode" [disabled]="checkBoxesMode === 'none'"></dx-select-box>
        </div>


        <!-- <div class="dx-field" style="max-width: 30rem;">
            <dx-lookup (onValueChanged)="accountLevelSelectedValue($event)" [items]="accountLevelDropdown" [value]="accountLevelDropdown[0]"
                displayExpr="Name" [searchEnabled]="false" [showPopupTitle]="false" [closeOnOutsideClick]="true" title="Select Currency">
            </dx-lookup>
        </div> -->
        <br>


        <!-- Ledger Filters -->
        <dx-tree-list id="employees" [dataSource]="dataSource" keyExpr="ID" parentIdExpr="ParentID" [showRowLines]="true" [allowColumnResizing]="true"
            [columnAutoWidth]="true" [expandedRowKeys]="[1]">
            <dxi-column dataField="Currency"></dxi-column>
            <dxi-column dataField="Account"></dxi-column>
            <dxi-column dataField="RecordType"></dxi-column>
            <dxi-column dataField="Status"></dxi-column>
            <dxi-column dataField="VoucherDate"></dxi-column>
            <!-- <dxi-column dataField="LedgerVouchers"></dxi-column> -->
        </dx-tree-list>
    </div>
</div>