<br>

<div style="color: red">
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
  journal-code works!
</div>
