<h2 class="page-heading">Users</h2>

<!-- Add USer ModalPOUP BUtton -->

<div class="row">
    <div class="col-sm-12">
            <a class="btn btn-primary pull-right add-common-btn"  (click)="openModalWithClass(template)">
                    <i class="fa fa-user-plus"></i> Add User
                </a>
    </div>
</div>

<!-- User listing Datatable -->
<div class="ui-widget-header" style="padding:10px;border-bottom: 0 none;">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Search">
    </div>    
<p-dataTable [value]="cars" [rows]="4" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" sortMode="multiple" [globalFilter]="gb">
        <p-column field="FirstName" header="FirstName" [sortable]="true"></p-column>
        <p-column field="LastName" header="LastName" [sortable]="true"></p-column>
        <p-column field="Email" header="Email" [sortable]="true"></p-column>
        <p-column field="Office" header="Office" [sortable]="true"></p-column>
        <p-column field="Status" header="Status" [sortable]="true"></p-column>
        <p-column field="Roles" header="Roles" [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                        <a (click)="openModalPermissions(templatePermissions)">
                                Permissions
                            </a>
                </ng-template>
        </p-column>
        <p-column field="Edit" header="Edit" [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                        <a>
                                EditUser
                            </a>
                </ng-template>
        </p-column>
        <p-column field="Reset" header="Reset" [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                        <a >
                                Reset Password
                            </a>
                </ng-template>
        </p-column>
    </p-dataTable>


<!-- Add USERS MODAL POPUP -->

<!-- DIfference -->
<ng-template #template>
    <form name="userForm" [formGroup]="userForm" class="login-inner" (ngSubmit)="userForm.valid && userFormSubmit(userForm.value)" novalidate>
 <div class="modal-header gray-header">
   <h4 class="modal-title pull-left">Add User</h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body gray-body popup-default-form" style="background-color:#fff;color:#000">
   <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-5">
                 <label>First Name:</label><span style="color:red">*</span>
            </div> 
            <div class="col-sm-7" [ngClass]="{ 'has-error': userForm.submitted && !FirstName.valid }">                    
                <input type="text" class="form-control" formControlName="FirstName" placeholder="First Name" />
                <div *ngIf="userForm.controls['FirstName'].errors && !userForm.controls['FirstName'].pristine && userForm.controls['FirstName'].touched==true" class="error-msg">
                    <div [hidden]="!userForm.controls['FirstName'].errors.required">FirstName is required.</div>
                    <div [hidden]="!userForm.controls['FirstName'].errors.patternInvalid">FirstName is invalid.</div>
                </div>
            </div>
        </div> 
        </div>   
        <div class="col-sm-6">
            <div class="row">
             <div class="col-sm-5">
                    <label>Last Name:</label><span style="color:red">*</span>
              </div> 
              <div class="col-sm-7">
                    <input class="form-control" type="text" formControlName="LastName" placeholder="Last Name"/>
                    <div *ngIf="userForm.controls['LastName'].errors && !userForm.controls['LastName'].pristine" class="error-msg">
                            <div [hidden]="!userForm.controls['LastName'].errors.required">LastName is required.</div>
                            <div [hidden]="!userForm.controls['LastName'].errors.patternInvalid">LastName is invalid.</div>
                    </div>
              </div> 
        </div> 
         </div> 
    </div>
   <div class="row">
        <div class="col-sm-6">
            <div class="row">
            <div class="col-sm-5">
                 <label>Email:</label><span style="color:red">*</span>
             </div> 
             <div class="col-sm-7">
                 <input class="form-control" type="Email" formControlName="Email" placeholder="Email"/>
                 <div *ngIf="userForm.controls['Email'].errors && !userForm.controls['Email'].pristine" class="error-msg">
                        <div [hidden]="!userForm.controls['Email'].errors.required">Email is required.</div>
                        <div [hidden]="!userForm.controls['Email'].errors.patternInvalid">Email is invalid.</div>
                </div>
             </div>
        </div> 
        </div>   
        <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5">
                  <label>Phone:</label>
              </div> 
              <div class="col-sm-7">
                  <input class="form-control" type="number" formControlName="Phone" placeholder="Phone"/>
                  <div *ngIf="userForm.controls['Phone'].errors && !userForm.controls['Phone'].pristine" class="error-msg">
                        <div [hidden]="!userForm.controls['Phone'].errors.required">Phone is required.</div>
                        <div [hidden]="!userForm.controls['Phone'].errors.patternInvalid">Phone is invalid.</div>
                </div>
              </div>
        </div> 
         </div> 
    </div>
    <div class="row">
            <div class="col-sm-6">
               <div class="row">
                <div class="col-sm-5">
                     <label>Password:</label><span style="color:red">*</span>
                 </div> 
                 <div class="col-sm-7">
                     <input class="form-control" type="password" formControlName="Password" placeholder="Password"/>
                     <div *ngIf="userForm.controls['Password'].errors && !userForm.controls['Password'].pristine" class="error-msg">
                            <div [hidden]="!userForm.controls['Password'].errors.required">Password is required.</div>
                            <div [hidden]="!userForm.controls['Password'].errors.patternInvalid">Password is invalid.</div>
                    </div>
                 </div>
                </div> 
            </div>   
            <div class="col-sm-6">
               <div class="row"> 
                <div class="col-sm-5">
                      <label>Confirm Password:</label><span style="color:red">*</span>
                  </div> 
                  <div class="col-sm-7">
                      <input class="form-control" type="password" formControlName="ConfirmPassword" placeholder="Confirm Password"/>
                      <div *ngIf="userForm.controls['ConfirmPassword'].errors && !userForm.controls['ConfirmPassword'].pristine" class="error-msg">
                            <div [hidden]="!userForm.controls['ConfirmPassword'].errors.required">ConfirmPassword is required.</div>
                            <div [hidden]="!userForm.controls['ConfirmPassword'].errors.patternInvalid">ConfirmPassword is invalid.</div>
                    </div>
                  </div> 
                </div>
             </div> 
        </div>                     
        <div class="row">
                <div class="col-sm-6">
                       <div class="row">
                        <div class="col-sm-5">  
                         <label>Office:</label><span style="color:red">*</span>
                     </div> 
                     <div class="col-sm-7">
                                <p-dropdown [options]="officeId" class="form-control" formControlName="OfficeId"  placeholder="Select an Office" (onChange)="onChangeOffice($event.value)" required></p-dropdown>
                            <!-- <p-multiSelect [options]="roles" class="form-control" formControlName="Roles" defaultLabel="Select Roles"></p-multiSelect> -->
                            <div *ngIf="userForm.controls['OfficeId'].errors && !userForm.controls['OfficeId'].pristine &&  OfficeId.length > 0" class="error-msg">
                                    <div [hidden]="!userForm.controls['OfficeId'].errors.required">OfficeId is required.</div>
                                    <div [hidden]="!userForm.controls['OfficeId'].errors.patternInvalid">OfficeId is invalid.</div>
                            </div>
                     </div>
                </div> 
                </div>    
                <div class="col-sm-6">
                       <div class="row">
                        <div class="col-sm-5">  
                             <label>Department:</label><span style="color:red">*</span>
                         </div> 
                         <div class="col-sm-7">
                                <p-dropdown [options]="department" class="form-control" formControlName="Department"  placeholder="Select a Department"></p-dropdown>
                                <div *ngIf="userForm.controls['Department'].errors && !userForm.controls['Department'].pristine" class="error-msg">
                                        <div [hidden]="!userForm.controls['Department'].errors.required">Department is required.</div>
                                        <div [hidden]="!userForm.controls['Department'].errors.patternInvalid">Department is invalid.</div>
                                </div>
                         </div> 
                        </div> 
                    </div>                
            </div>      

            <div class="row">   
                        <div class="col-sm-6">
                               <div class="row">
                                <div class="col-sm-5">  
                                     <label>Status:</label>
                                 </div> 
                                 <div class="col-sm-7">
                                        <p-dropdown [options]="status" class="form-control" formControlName="Status"  placeholder="Select a Status"></p-dropdown>
                                        <div *ngIf="userForm.controls['Status'].errors && !userForm.controls['Status'].pristine" class="error-msg">
                                                <div [hidden]="!userForm.controls['Status'].errors.required">Status is required.</div>
                                                <div [hidden]="!userForm.controls['Status'].errors.patternInvalid">Status is invalid.</div>
                                        </div>
                                 </div> 
                                </div> 
                            </div>                
                    </div> 
 </div>
 <div class="modal-footer gray-body">
        <div class="pull-right">
                <button type="submit" [disabled]="!userForm.valid" class="btn btn-default btn-primary add-btn-basic">Save</button>
                <a (click)="modalRef.hide()" class="btn btn-default" >Cancel</a>
        </div>
</div>   

</form>
</ng-template>


<!-- Modal Popup for Permissions -->
 
<ng-template #templatePermissions>
                <!-- <form name="userRoles" [formGroup]="userRoles" class="login-inner" (ngSubmit)="userRoles.valid && userRolesSubmit(userRoles.value)" novalidate> -->
     <div class="modal-header gray-header">
       <h4 class="modal-title pull-left">Add Roles</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefPermission.hide()">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body gray-body" style="background-color:#fff;color:#000">
                <div class="row">
                                <div class="col-sm-6">
                                       <div class="row">
                                        <div class="col-sm-5">  
                                         <label>Add Roles:</label>                                         
                                     </div> 
                                     <div class="col-sm-7">
                                                <p-multiSelect [options]="roles" class="form-control" formControlName="Roles" defaultLabel="Select Roles"></p-multiSelect>
                                                                                       
                                     </div>
                                </div> 
                                </div>                   
                            </div>                     
     </div>
     <div class="modal-footer gray-body">
            <div class="pull-right">
                    <button type="submit" class="btn btn-primary add-btn-basic">Save</button>
                    <a (click)="modalRefPermission.hide()" class="btn btn-default" >Cancel</a>
            </div>
    </div>   
    
    <!-- </form> -->
    </ng-template> 



