<h2 class="page-heading">Users</h2>

<div class="row">
  <!-- <div class="col-sm-3">
      <h3 class="page-heading">Office Permissions</h3>
        <div class="filter-box clearfix">
          <div class="filter-item">
              <input type="checkbox" id="fi-1" />
                <label for="fi-1">All Offices</label>
            </div>
            <div class="filter-item">
              <input type="checkbox" id="fi-2" />
                <label for="fi-2">All Offices</label>
            </div>
        </div>
    </div>   -->

    <div class="col-sm-12">
      <button (click)="showDialog()"><i class="fa fa-plus-square pull-right" style="font-size: 21px;" aria-hidden="true"></i></button>
      <br/>
      <!-- <h3 class="page-heading">Modules Permissions</h3> -->
        <div class="table-responsive">
            <table class="table-default">
                <thead>
                  <tr>
                      <th>Module Name</th>
                        <th>View</th>
                        <th>Add New</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Validate</th>
                        <th>Invalidate</th>
                        <th>Export to Excel</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Coding</td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                      <td>Voucher/Journal/Ledger/Trial Balance</td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                        <td>
                          <div class="filter-item no-margin">
                                <input type="checkbox" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="pull-right mt20 clearfix">
          <a href="javascript:void(0);" class="btn btn-default btn-green">Save</a>
            <a href="javascript:void(0);" class="btn btn-default btn-gray">Cancel</a>
        </div> -->
    </div>
</div>

<button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>

<bs-modal #modal>
   <bs-modal-header [showDismiss]="true">
       <h4 class="modal-title">I'm a modal!</h4>
   </bs-modal-header>
   <bs-modal-body>
       Hello World!
   </bs-modal-body>
   <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
</bs-modal>



