<dx-button
class="button-info"
text="Add New"
(onClick)="showInfo()">
</dx-button>

<div class="row">
    <div class="col-sm-12">
      <h3 class="page-heading">Vouchers</h3>
      <dx-select-box
      [items]="statuses" 
      [value]="statuses[0]" 
      (onValueChanged)="selectStatus($event)"></dx-select-box>
      <dx-data-grid 
      id="gridContainer" 
      [dataSource]="orders">
      <dxo-filter-row 
          [visible]="showFilterRow" 
          [applyFilter]="applyFilter.value"></dxo-filter-row>
      <dxo-header-filter 
          [visible]="showHeaderFilter"></dxo-header-filter>
      <dxo-search-panel 
          [visible]="true" 
          [width]="240" 
          placeholder="Search..."></dxo-search-panel>
      <dxi-column 
          dataField="OrderNumber" 
          [width]="130" 
          caption="Voucher No">
          <!-- <dxo-header-filter 
              [groupInterval]="10000"></dxo-header-filter> -->
      </dxi-column>
      <dxi-column 
          dataField="Voucher Date" 
          alignment="right" 
          dataType="date">
          <!-- <dxo-header-filter 
              [dataSource]="orderHeaderFilter"></dxo-header-filter> -->
      </dxi-column>      
    <dxi-column 
        dataField="Voucher Ref No"
        alignment="right">
    </dxi-column>
    <dxi-column 
        dataField="VouchersOffice" 
        caption="Office"
        alignment="right">
    </dxi-column>
    <dxi-column 
        dataField="VouchersJournal" 
        caption="Journal"
        alignment="right">
    </dxi-column>
    <dxi-column 
        dataField="VouchersDescription"
        caption="Description"
        alignment="right">
    </dxi-column>
    <dxi-column dataField = "documentId" caption="Document" alignment="right" cellTemplate="CellTemplateDocument"></dxi-column>
    <dxi-column dataField = "editId" caption="Open" alignment="right" cellTemplate="CellTemplateOpen"></dxi-column>
    <dxi-column dataField = "deleteId" caption="Delete" alignment="right" cellTemplate="CellTemplateDelete"></dxi-column>
    <div *dxTemplate="let data of 'CellTemplateDocument'">         
        <a href="javascript:void()" (click)="showInfo()">Document</a>
    </div>
    <div *dxTemplate="let data of 'CellTemplateOpen'">         
            <a href="javascript:void()" (click)="showInfo()">Open</a>
            <a href="javascript:void()" (click)="showInfo()">Delete</a>
    </div>    

    <!-- <dxo-editing 
        mode="popup"
        [allowUpdating]="true">
        <dxo-popup
            title="Employee Info"
            [showTitle]="true"
            [width]="700"
            [height]="345"
            [position]="{ my: 'top', at: 'top', of: window }">
        </dxo-popup>
    </dxo-editing> -->
      <!-- <dxi-column dataField="Employee"></dxi-column>
      <dxi-column 
          dataField="CustomerStoreCity" 
          caption="City"></dxi-column>
      <dxi-column 
          dataField="CustomerStoreState" 
          caption="State"></dxi-column> -->
  </dx-data-grid>
  
  <div class="options">
      <div class="caption">Options</div>
      <div 
          class="apply-filter option" 
          [style.display]="showFilterRow ? 'block' : 'none'">
          <span>Apply Filter</span>
          <dx-select-box #applyFilter 
              id="useFilterApplyButton" 
              [items]="applyFilterTypes" 
              [value]="applyFilterTypes[0].key" 
              valueExpr="key"
              displayExpr="name"></dx-select-box>
      </div>
      <!-- <div class="option">
      <dx-check-box 
          text="Filter Row" 
          [(value)]="showFilterRow" 
          (onValueChanged)="clearFilter()"></dx-check-box>
      </div>
      <div class="option">
      <dx-check-box 
          text="Header Filter" 
          [(value)]="showHeaderFilter" 
          (onValueChanged)="clearFilter()"></dx-check-box>
      </div> -->
  </div>
        <div class="pull-right mt20 clearfix">
          <a href="javascript:void(0);" class="btn btn-default btn-green">Save</a>
            <a href="javascript:void(0);" class="btn btn-default btn-gray">Cancel</a>
        </div>
    </div>
</div>

<dx-popup
class="popup"
[width]="800"
[height]="800"
[showTitle]="true"
title="Information"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
[(visible)]="popupVisible">
<div *dxTemplate="let data of 'content'">
    
        <form action="your-action" (submit)="onFormSubmit($event)">
                <dx-form id="form"      
                    [formData]="customer"      
                    [readOnly]="false"
                    [showColonAfterLabel]="true"
                    [showValidationSummary]="true"
                    validationGroup="customerData">
                    <dxi-item itemType="group" caption="Credentials">
                        <dxi-item dataField="Login">
                            <dxi-validation-rule 
                                type="required"
                                message="Login is required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="Password"
                            [editorOptions]="{ mode: 'password' }">
                            <dxi-validation-rule 
                                type="required"
                                message="Password is required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item 
                            editorType="dxTextBox"
                            [editorOptions]="{ mode: 'password' }">
                            <dxo-label
                                text="Confirm Password">
                            </dxo-label>
                            <dxi-validation-rule 
                                type="required"
                                message="Confirm Password is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule 
                                type="compare" 
                                [comparisonTarget]="passwordComparison"
                                message="Password and Confirm Password do not match">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" caption="Personal Data">
                        <dxi-item dataField="Name">
                            <dxi-validation-rule 
                                type="required"
                                message="Name is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule 
                                type="pattern"
                                [pattern]="namePattern"
                                message="Do not use digits in the Name">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item 
                            dataField="Date"
                            editorType="dxDateBox"
                            [editorOptions]="{ 
                                invalidDateMessage: 'The date must have the following format: MM/dd/yyyy' }">
                            <dxo-label
                                text="Date of birth">
                            </dxo-label>
                            <dxi-validation-rule 
                                type="required"
                                message="Date of birth is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule 
                                type="range"
                                [max]="maxDate"
                                message="You must be at least 21 years old">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" caption="Billing address">
                        <dxi-item dataField="Country"
                            editorType="dxSelectBox"
                            [editorOptions]="{ dataSource: countries }">
                            <dxi-validation-rule 
                                type="required"
                                message="Country is required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="City">
                            <dxi-validation-rule 
                                type="pattern"
                                [pattern]="cityPattern"
                                message="Do not use digits in the City name">
                            </dxi-validation-rule>
                            <dxi-validation-rule
                                type="stringLength"
                                [min]="2"
                                message="Name must have at least 2 symbols">
                            </dxi-validation-rule>
                            <dxi-validation-rule 
                                type="required"
                                message="City is required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="Address">
                            <dxi-validation-rule 
                                type="required"
                                message="Address is required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="Phone" helpText="Enter the phone number in USA phone format"
                            [editorOptions]="{ 
                                mask: '+1 (X00) 000-0000',
                                maskRules: phoneRules,
                                useMaskedValue: true,
                                maskInvalidMessage: 'The phone must have a correct USA phone format'
                            }">
                            <dxi-validation-rule 
                                type="pattern"
                                [pattern]="phonePattern"
                                message="The phone must have a correct USA phone format">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="simple"
                        dataField="Accepted"
                        editorType="dxCheckBox"
                        [editorOptions]="{ 
                            text: 'I agree to the Terms and Conditions',
                            value: false
                        }">
                        <dxo-label
                            [visible]="false">
                        </dxo-label>
                        <dxi-validation-rule 
                            type="compare"
                            [comparisonTarget]="checkComparison"
                            message="You must agree to the Terms and Conditions">
                        </dxi-validation-rule>
                    </dxi-item>
                </dx-form>
                <br />
                <dx-button
                    text="Register"
                    type="success"
                    validationGroup="customerData"
                    [useSubmitBehavior]="true">
                </dx-button>
            </form>
</div>
</dx-popup>