<header class="clearfix">
    	<div class="pull-right">
        	<div class="search-panel pull-left">
            	<form name="" method="post" action="javascript:void(0);">
                    <div class="sp-dropdown pull-left">
                        <select>
                            <option>Select Category</option>
                            <option>Category Name</option>
                            <option>Category Name</option>
                            <option>Category Name</option>
                            <option>Category Name</option>
                        </select>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="sp-input-wrap pull-right">
                        <input type="text" placeholder="Search" >
                        <input type="submit" value="" >
                    </div>
                </form>
            </div>
            <div class="profile-dropdown pull-right">
            	<div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="assets/images/profile-pic.jpg" alt="" /> Super Admin <i class="fa fa-angle-down pull-right"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-lock"></i> Change Password</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Account Setting</a></li>
                        <li role="separator" class="divider"></li>
                        <!-- <li class="dropdown-header">Nav header</li> -->
                        <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
                        <li><a (click)="logout()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>