<nav class="navbar navbar-inverse navbar-fixed-left">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void()">Coordination of Humanitarian Assistance</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse left-sidebar">
                <ul class="nav navbar-nav">
                    <li *ngxPermissionsOnly = "['SuperAdmin','Admin']" ><a [routerLink]="['/admin/user']"><span><i class="fa fa-user"></i></span> User</a></li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-code"></i></span> Code <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li *ngxPermissionsOnly = "['CanAdd']"><a href="javascript:void()">Charts Of Accounts</a></li>
                            <li ><a href="javascript:void()">Journal Codes</a></li>
                            <li ><a href="javascript:void()">Currency Codes</a></li>                                                        
                            <li><a href="javascript:void()">Office Codes</a></li>
                            <li><a href="javascript:void()">Analytical Codes</a></li>
                            <li><a href="javascript:void()">Email Settings</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-money"></i></span> Accounts <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/accounts/vouchers']">Vouchers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/accounts/journal']">Journal</a></li>
                            <li><a [routerLink]="['/accounts/ledger']">Ledger Statement</a></li>                            
                            <li><a href="javascript:void()">Budget Balance</a></li>
                            <li><a [routerLink]="['/accounts/trialbalance']">Trial Balance</a></li>
                            <li><a [routerLink]="['/accounts/advanceDeduction']">Advance Deduction</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/accounts/financialreport']">Financial Report</a></li>
                            <li><a href="javascript:void()">Set Financial Year</a></li>                            
                        </ul>
                    </li>
                    <li *ngxPermissionsOnly = "['SuperAdmin','Admin']" class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-users"></i></span> HR <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void()">Employees</a></li>
                            <li><a href="javascript:void()">Prospective Employees</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void()">Advances</a></li>                            
                            <li><a href="javascript:void()">Monthly Leaves Register</a></li>
                            <li><a href="javascript:void()">Monthly Payroll Sheet</a></li>
                            <li><a href="javascript:void()">Payroll Monthly Hours</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-shopping-cart"></i></span> Store <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void()">Store Source Codes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void()">Consumables</a></li>
                            <li><a href="javascript:void()">Expandables</a></li>                                                        
                            <li><a href="javascript:void()">Non-Expandables</a></li>
                            <li><a href="javascript:void()">Depreciation</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-info-circle"></i></span> General <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void()">Exchange Rate</a></li>
                            <li><a href="javascript:void()">Monthly Exchange Rate</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-area-chart"></i></span> Planning <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void()">New Opportunities(Stage 1)</a></li>
                            <li><a href="javascript:void()">Director</a></li>
                            <li><a href="javascript:void()">New Opportunities(Stage 2)</a></li>                            
                            <li><a href="javascript:void()">Admin Finance</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-bar-chart"></i></span> Logistic Plan <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void()">PMU</a></li>
                            <li><a href="javascript:void()">Director</a></li>
                            <li><a href="javascript:void()">General Assembly</a></li>
                            <li><a href="javascript:void()">Admin & Finance Manager</a></li>
                            <li><a href="javascript:void()">Field Office Manager</a></li>
                            <li><a href="javascript:void()">HR</a></li>
                            <li><a href="javascript:void()">Logistic    </a></li>
                            <li><a href="javascript:void()">Inventory</a></li>
                            <li><a href="javascript:void()">Finance</a></li>
                            <li><a href="javascript:void()">Control</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-bus"></i></span> Transport <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void()">Vehicle</a></li>
                            <li><a href="javascript:void()">Generator</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-user"></i></span> PMU <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                                <li><a href="javascript:void()">Projects</a></li>
                                <li><a href="javascript:void()">Implementation</a></li>                            
                                <li><a href="javascript:void()">Monitoring</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- /sidebar end -->
   
    