<nav class="navbar navbar-inverse navbar-fixed-left">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Coordination of Humanitarian Assistance</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse left-sidebar">
                <ul class="nav navbar-nav">
                    <li *ngxPermissionsOnly = "['SuperAdmin','Admin']" ><a [routerLink]="['/admin/user']"><span><i class="fa fa-user"></i></span> User</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-code"></i></span> Code <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li *ngxPermissionsOnly = "['CanAdd']"><a href="#">Charts Of Accounts</a></li>
                            <li ><a href="#">Journal Codes</a></li>
                            <li ><a href="#">Currency Codes</a></li>                                                        
                            <li><a href="#">Office Codes</a></li>
                            <li><a href="#">Analytical Codes</a></li>
                            <li><a href="#">Email Settings</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-money"></i></span> Accounts <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/accounts/vouchers']">Vouchers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/accounts/journal']">Journal</a></li>
                            <li><a href="#">Ledger Statement</a></li>                            
                            <li><a href="#">Budget Balance</a></li>
                            <li><a href="#">Trial Balance</a></li>
                            <li><a href="#">Advance Deduction</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Financial Report</a></li>
                            <li><a href="#">Set Financial Year</a></li>                            
                        </ul>
                    </li>
                    <li *ngxPermissionsOnly = "['SuperAdmin','Admin']" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-users"></i></span> HR <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Employees</a></li>
                            <li><a href="#">Prospective Employees</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Advances</a></li>                            
                            <li><a href="#">Monthly Leaves Register</a></li>
                            <li><a href="#">Monthly Payroll Sheet</a></li>
                            <li><a href="#">Payroll Monthly Hours</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-shopping-cart"></i></span> Store <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Store Source Codes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Consumables</a></li>
                            <li><a href="#">Expandables</a></li>                                                        
                            <li><a href="#">Non-Expandables</a></li>
                            <li><a href="#">Depreciation</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-info-circle"></i></span> General <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Exchange Rate</a></li>
                            <li><a href="#">Monthly Exchange Rate</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-area-chart"></i></span> Planning <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">New Opportunities(Stage 1)</a></li>
                            <li><a href="#">Director</a></li>
                            <li><a href="#">New Opportunities(Stage 2)</a></li>                            
                            <li><a href="#">Admin Finance</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-bar-chart"></i></span> Logistic Plan <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PMU</a></li>
                            <li><a href="#">Director</a></li>
                            <li><a href="#">General Assembly</a></li>
                            <li><a href="#">Admin & Finance Manager</a></li>
                            <li><a href="#">Field Office Manager</a></li>
                            <li><a href="#">HR</a></li>
                            <li><a href="#">Logistic    </a></li>
                            <li><a href="#">Inventory</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Control</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-bus"></i></span> Transport <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Vehicle</a></li>
                            <li><a href="#">Generator</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-user"></i></span> PMU <i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="dropdown-menu">
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Implementation</a></li>                            
                                <li><a href="#">Monitoring</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- /sidebar end -->
   
    