<ng-template #passwordTemplate>
        <form name="ChangePassword" [formGroup]="ChangePassword" class="login-inner" (ngSubmit)="ChangePassword.valid && onSubmitPasswordChange(ChangePassword.value)" novalidate>
             <div class="modal-header gray-header ">
               <h4 class="modal-title pull-left">Change Password</h4>
               <button type="button" class="close pull-right" aria-label="Close" (click)="modalChangePassword.hide();">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body gray-body" style="background-color:#fff;color:#000">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                             <label>Current Password:</label><span style="color:red">*</span>
                        </div> 
                        <div class="col-sm-7">                    
                            <input type="password" class="form-control" formControlName="CurrentPassword" placeholder="Current Password" (blur)="currentPasswordMatch($event.target.value)"/>
                            <div *ngIf="CurrentPassword.touched">
                                Hello
                            </div>
                        </div>
                    </div> 
                    </div>                       
                </div>
                <div class="row">
                        <div class="col-sm-6">
                                <div class="row">
                                 <div class="col-sm-5">
                                        <label>New Password:</label><span style="color:red">*</span>
                                  </div> 
                                  <div class="col-sm-7">
                                        <input class="form-control" type="password" formControlName="NewPassword" placeholder="New Password"/>
                                        <div *ngIf="ChangePassword.controls['NewPassword'].errors && !ChangePassword.controls['NewPassword'].pristine" class="error-msg">
                                                <div [hidden]="!ChangePassword.controls['NewPassword'].errors.required">New Password is required.</div>
                                                <div [hidden]="!ChangePassword.controls['NewPassword'].errors.patternInvalid">New Password is invalid.</div>
                                        </div>
                                  </div> 
                            </div> 
                            </div> 
                </div>   
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                             <label>Confirm Password:</label><span style="color:red">*</span>
                        </div> 
                        <div class="col-sm-7" >                    
                            <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Confirm Password" />
                            <div *ngIf="ChangePassword.controls['ConfirmPassword'].errors && !ChangePassword.controls['ConfirmPassword'].pristine && ChangePassword.controls['CurrentPassword'].touched==true" class="error-msg">
                                <div [hidden]="!ChangePassword.controls['ConfirmPassword'].errors.required">Confirm Password is required.</div>
                                <div [hidden]="!ChangePassword.controls['ConfirmPassword'].errors.patternInvalid">Confirm Password is invalid.</div>
                            </div>
                        </div>
                    </div> 
                    </div>    
                </div>

             </div>
             <div class="modal-footer gray-body">
                    <div class="pull-right">
                            <button type="submit" class="btn btn-primary add-btn-basic">Save</button>
                            <a (click)="modalChangePassword.hide()" class="btn btn-default" >Cancel</a>
                    </div>
            </div>   
            
            </form>
            </ng-template> 
