<div class="row">
 
    <div class="col-sm-12">
      <h3 class="page-heading">Journal</h3>

      <!-- Journal Filters -->   
      <div>
        <dx-data-grid id="gridContainer"
        [dataSource]="dataSource"
        [masterDetail]="{ enabled: true, template: 'detail' }">
        <dxo-header-filter 
        [visible]="true"></dxo-header-filter>
        <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
        <dxi-column dataField="Journal"></dxi-column>
        <dxi-column dataField="Office"></dxi-column>
        <dxi-column dataField="RecordType" [width]="170"></dxi-column>
        <dxi-column dataField="Currency" [width]="125"></dxi-column>
        <dxi-column dataField="Accounts"></dxi-column>
        <dxi-column dataField="ReportDate" dataType="date"></dxi-column>
        <dxi-column dataField="Status"></dxi-column>
    
        <div *dxTemplate="let employee of 'detail'">
            <div class="internal-grid-container">
                <!-- <div>{{employee.data.FirstName + " " + employee.data.LastName + "'s Tasks:"}}</div> -->
                <dx-data-grid class="internal-grid"
                    [dataSource]="employee.data.Vouchers"
                    [showBorders]="true"
                    [columnAutoWidth]="true">
                    <dxo-header-filter 
                    [visible]="true"></dxo-header-filter>
                    
                        <dxi-column dataField="Date" dataType="date"></dxi-column>
                        <dxi-column dataField="ACNO"></dxi-column>
                        <dxi-column dataField="TransactionDescription"></dxi-column>
                        <dxi-column dataField="Debit"></dxi-column>
                        <dxi-column dataField="Credit"></dxi-column>
                        <dxi-column dataField="Currency"></dxi-column>
                        <dxi-column dataField="BL"></dxi-column>
                        <dxi-column dataField="Area"></dxi-column>
                        <dxi-column dataField="Sector"></dxi-column>
                        <dxi-column dataField="Program"></dxi-column>
                        <dxi-column dataField="Project"></dxi-column>
                        <dxi-column dataField="Job"></dxi-column>

                        <!-- <dxi-column  dataType="Credit" caption="Completed" [calculateCellValue]="completedValue"></dxi-column> -->
                </dx-data-grid>
            </div>
        </div>
    </dx-data-grid>  
    
    </div>
</div>
</div>
