<div class="row">
    <div class="col-sm-12">
        <div class="main-heading clearfix">
                <h3 class="page-heading">Journal</h3>
        </div>
        </div>
    <div class="col-sm-12">
     
      <!-- Journal Filters -->   
      <dx-pivot-grid id="sales"
      [allowSortingBySummary]="true"
      [allowSorting]="true"
      [allowFiltering]="true"      
      [showBorders]="true"
      [showColumnTotals]="false"
      [showColumnGrandTotals]="false"            
      [dataSource]="pivotGridDataSource">      
      <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
      <dxo-field-panel
      [showDataFields]="true" 
      [visible]="true">
    </dxo-field-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>      
    </dx-pivot-grid>
     
</div>
</div>
