<div class="row">
    <div class="col-sm-12">
        <div class="main-heading clearfix">
                <h3 class="page-heading">Journal</h3>
        </div>
        </div>
    <div class="col-sm-12">
     
      <!-- Journal Filters -->   
     
      
      <dx-pivot-grid id="sales"
      [allowSortingBySummary]="true"
      [allowSorting]="true"
      [allowFiltering]="true"      
      [showBorders]="true"
      [showColumnTotals]="false"
      [showColumnGrandTotals]="false"            
      [dataSource]="pivotGridDataSource"
      (onCellPrepared)="onCellPrepared($event)"
      (onCellClick)="onPivotCellClick($event)">      
      <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
      <dxo-field-panel
      [showDataFields]="true" 
      [visible]="true">
    </dxo-field-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>      
    </dx-pivot-grid>
     
    <!-- <dx-popup
      [(visible)]="salesPopupVisible"
      [title]="salesPopupTitle"
      [width]="600"
      [height]="400">
      <div *dxTemplate="let data of 'content'">
        <dx-data-grid [width]="560" [height]="300"
          [dataSource]="drillDownDataSource"
          [columns]="['journal', 'voucher','transaction','amount','transactionType']">
        </dx-data-grid>
      </div>
    </dx-popup> -->



</div>
</div>
