.btn{
    align-items: center;
}


https://perfectrevisions.atlassian.net/wiki/spaces/CD/pages/3899421/Accounting


Credentials

confluence / Jira
https://perfectrevisions.atlassian.net/wiki
or rather
https://perfectrevisions.atlassian.net/wiki/spaces/CD/overview
CHA developement
user name - sanvirk@smartdatainc.net
password - @Sanvir1

The details of existing solution:
cha-v2experimentation.azurewebsites.net
sysadmin
5432111

