<!-- <dx-data-grid 
id="gridContainer" 
[dataSource]="orders">
<dxo-filter-row 
    [visible]="showFilterRow" 
    [applyFilter]="applyFilter.value"></dxo-filter-row>
<dxo-header-filter 
    [visible]="showHeaderFilter"></dxo-header-filter>
<dxo-search-panel 
    [visible]="true" 
    [width]="240" 
    placeholder="Search..."></dxo-search-panel>
<dxi-column 
    dataField="OrderNumber" 
    [width]="130" 
    caption="Invoice Number">
    <dxo-header-filter 
        [groupInterval]="10000"></dxo-header-filter>
</dxi-column>
<dxi-column 
    dataField="OrderDate" 
    alignment="right" 
    dataType="date">
    <dxo-header-filter 
        [dataSource]="orderHeaderFilter"></dxo-header-filter>
</dxi-column>
<dxi-column 
    dataField="SaleAmount" 
    alignment="right" 
    format="currency">
    <dxo-header-filter 
        [dataSource]="saleAmountHeaderFilter"></dxo-header-filter>
</dxi-column>
<dxi-column dataField="Employee"></dxi-column>
<dxi-column 
    dataField="CustomerStoreCity" 
    caption="City"></dxi-column>
<dxi-column 
    dataField="CustomerStoreState" 
    caption="State"></dxi-column>
</dx-data-grid>
<div class="options">
<div class="caption">Options</div>
<div 
    class="apply-filter option" 
    [style.display]="showFilterRow ? 'block' : 'none'">
    <span>Apply Filter</span>
    <dx-select-box #applyFilter 
        id="useFilterApplyButton" 
        [items]="applyFilterTypes" 
        [value]="applyFilterTypes[0].key" 
        valueExpr="key"
        displayExpr="name"></dx-select-box>
</div>
<div class="option">
<dx-check-box 
    text="Filter Row" 
    [(value)]="showFilterRow" 
    (onValueChanged)="clearFilter()"></dx-check-box>
</div>
<div class="option">
<dx-check-box 
    text="Header Filter" 
    [(value)]="showHeaderFilter" 
    (onValueChanged)="clearFilter()"></dx-check-box>
</div>
</div> -->

<router-outlet></router-outlet>